<div class="flex justify-around mt-14 mx-3">
    <h1 class="text-3xl font-bold">Todos List</h1>
    <button class="btn btn-netural justify-end">Add</button>
</div>

<div class="flex flex-col gap-6 items-center mt-10">
  <input
    type="text"
    placeholder="email"
    class="input input-bordered input-primary w-full max-w-xs"
  />

  <button class="btn btn-wide btn-primary">Send</button>

  <ul class="menu bg-base-200 rounded-box w-80">
    <li>
        <span>Question 1</span>
        <div class="justify-end">
            <button class="btn btn-warning btn-sm">True</button>
            <button class="btn btn-error btn-sm">False</button>
        </div>
    </li>
    <li>
        <span>Question 2</span>
        <div class="justify-end">
            <button class="btn btn-warning btn-sm">True</button>
            <button class="btn btn-error btn-sm">False</button>
        </div>
    </li>
    <li>
        <span>Question 3</span>
        <div class="justify-end">
            <button class="btn btn-warning btn-sm">True</button>
            <button class="btn btn-error btn-sm">False</button>
        </div>
    </li>
  </ul>
</div>
