@if(notify){
  <div class="toast" [ngClass]="['toast-bottom', notification.position]">
    <div class="alert" [ngClass]="[notification.alertClass]">
      <span>{{ notification.message }}</span>
    </div>
  </div>
}

<div
  class="hero"
  style="background-image: url(https://img.daisyui.com/images/stock/photo-1507358522600-9f71e620c44e.webp);">
  <div class="hero-overlay bg-opacity-50"></div>
  <div class="hero-content text-neutral-content text-center">
    <div class="max-w-md">
      <h1 class="mb-5 text-5xl font-bold">Hello there</h1>
      <p class="mb-5">
        Get started with me !!
      </p>
      <button (click)="toggleForm()" [ngClass]="{
        'btn-primary': showForm,
        'btn-neutral' : !showForm,
        'btn-warning': editable,
      }" class="btn">{{ changtoggobtn() }}</button>
      
    </div>
  </div>
</div>



<div class="flex flex-col gap-6 items-center mt-10">
  @if (showForm) {
    <input
    (keyup.enter)="submit()"
    [(ngModel)]="myTodo"
    type="text"
    [placeholder]="defaultTodo"
    class="input input-bordered input-primary w-full max-w-xs"
    />
    @if (editable) {
      <div class="flex gap-4">
        <button (click)="submit()"  class="btn w-56 btn-warning">Update</button>
        <button (click)="cancel()" class="btn btn-neutral">Cancel</button>
      </div>
    }
    @else {<button (click)="submit()" class="btn btn-wide btn-primary">Create</button>}

  }
  @else {
    <p>CLick the show button above</p>
  }

    <ul class="menu bg-base-200 rounded-box w-80">
        @for (todos of todos; track i; let i = $index ) {
            <li>
                <span (dblclick)="deleteTodo (i)">{{todos}}</span>
                <div class="justify-end">
                    <button (click)="editTodo(todos, i)" class="btn btn-warning btn-sm">Edit</button>
                    @if(!editable){
                      <button (click)="deleteTodo(i)" class="btn btn-error btn-sm">Delete</button>
                    }
                </div>
            </li>
        }
        @empty {
            <li> Not todos yet !</li>
        }
    
      </ul>
</div>

